.menu-base,
#perfil_menu {
  position: absolute;
  z-index: 4;
  min-width: 180px;
  
  /* display: flex; */

  padding: 0px;
  background: var(--header-color);
  border: 3px solid;
  border-color: var(--border-color-gray);
  border-radius: 20px;

  word-wrap: break-word;
  flex-direction: column;
  text-align: start;

  a{
    text-decoration: none;
  }

  .button-menu,
  .button-close,
  select,
  label,
  p{
    font-size: 14px;
  }

  .button-menu,
  .button-close,
  select {
    appearance: none;
    background-color: var(--header-color);
    position: relative;
    color: var(--text-color);
    
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 1rem;
    &:active {
      background-color: #c27600;
    }
  }

  .button-menu,
  select{
    width: 100%;
    padding: 10px;
    border: solid var(--background-color);
  }

  .button-menu,
  select,
  label,
  p,
  h4 {
    letter-spacing: 0.04em;
    text-align: left;
  }


  label,
  p {
    width: 90%;
  }

  .button-close {
    margin-left: 85%;
    width: 30px;
    padding: 0px 8px 3px;
    border: none;
    font-size: 20px;
  }

  span{
    width: 90%;
    text-align: start;
  }

  span,
  input,
  .button-menu,
  select,
  h4{
    margin-bottom: 10px;
  }

  h4 {
    margin-top: 15px;
  }

  span{
    >p,
    >.button-menu,
    >input{
      margin: 0px;
    }

    input[type="time"]{
      width: 160px;
    }
      
  }

  label{
    margin-bottom: 2px;
  }

  input[type="text"]{
    width: 20px;
    text-align: center;
  }
}

#perfil_menu {
  top: 8vh;
  right: 5vw;
  bottom: auto;
}

#perfil_menu,
.menu-inner {
  /* display: flex; */
  padding: 0px 10px 10px;
}

.menu-base {
  display: none;
  bottom: 36dvh;
  max-height: 60%;
  overflow: hidden;

  > div {
    max-width: 250px;
  }
}

.menu-inner {
  margin-left: 5px;
  margin-right: 5px;
  max-height: 60%;
  overflow: auto;
}

.dropdown-menu {
  display: none;
  margin-bottom: 12px;
}

.menu-base[group="yes"] {
  .dropdown-menu {
    padding-bottom: 22px;
    border-bottom: 3px solid var(--border-color-gray);
  }
  #gameMenu{
    border: none;
  }
}

.menu-base > input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}


/* Para o Chrome, Edge e Safari */
*::-webkit-scrollbar {
  /* position: inherit; */
  width: 12px; /* width of the entire scrollbar */
  /* border-radius: 20px; */
}

*::-webkit-scrollbar-track {
  /*Área que envolve a barra*/
  background: var(--border-color-gray);
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  /* Barra de rolagem */
  background-color: var(--header-color);
  border-radius: 20px;
  border: 3px solid var(--border-color-gray);
}

.justify-div{
  display: flex;
  justify-content: space-between;
}
