.big-star,
.middle-star,
.small-star,
.micro-star,
.break-text {
  position: absolute;
  display: none;
}

.big-star {
  width: 31.25px;
}

.middle-star {
  width: 19px;
}

.small-star,
.count-stars > img {
  width: 12.5px;
}

.micro-star {
  width: 6px;
}

/* --- Estrelas acima ---*/
#microStarAbove1 {
  top: 2%;
  left: 25%;
}

#microStarAbove2 {
  top: 4%;
  left: 20%;
}

#microStarAbove3 {
  top: 8%;
  left: 17%;
}

#smallStarAbove1 {
  top: 8%;
  left: 20%;
}

#middleStarAbove1 {
  top: 10%;
  left: 12%;
}

#smallStarAbove2 {
  top: 20%;
  left: 8%;
}

#bigStarAbove {
  top: 20%;
  left: 13%;
}

#middleStarAbove2 {
  top: 28%;
  left: 4%;
}

/* --- Estrelas abaixo --- */
#smallStarBelow {
  bottom: 32%;
  right: 16%;
}

#middleStarBelow {
  bottom: 27%;
  right: 6%;
}

#bigStarBelow {
  bottom: 12%;
  right: 10%;
}

#microStarBelow1 {
  bottom: 27%;
  right: 20%;
}

#microStarBelow2 {
  bottom: 15%;
  right: 21%;
}

#microStarBelow3 {
  bottom: 6%;
  right: 18%;
}

#microStarBelow4 {
  bottom: 8%;
  right: 24%;
}

#microStarBelow5 {
  bottom: 3%;
  right: 28%;
}

/* ----------- */
.count-stars {
  align-items: center;
  flex-direction: row;
  justify-content: center;
  display: flex;
  width: auto;
  height: auto;
  position: absolute;
  /* bottom: 5%; */
  bottom: 40%;

  > img,
  > p {
    position: relative;
    display: flex;
  }

  > p {
    margin: 10px;
  }

  > img {
    filter: grayscale(1);
  }

  display: none;
}

@media (min-width: 769px) {
  .big-star {
    width: 40.62px;
  }

  .middle-star {
    width: 24.7px;
  }

  .small-star {
    width: 16.25px;
  }

  .micro-star {
    width: 7px;
  }

  .count-stars {
    bottom: 40%;
  }

  .count-stars > p {
    font-size: 24px;
  }
}
