/* --- Paleta ---*/
:root,
:root[data-theme="dark"] {
    --text-color: #d9d9d9;
    --icon-color-red: #B80000;
    /* --icon-color-red: #47ffff; */
    --border-color-blue: #164743;
    --border-color-gray: #343434;
    --header-color: #1E1E1E;
    --background-color: #262626;
    --image-tomato-button: url("../images/logo-dark-tomato.svg");
    --active-button-control-clock: #C27600;
}

:root[data-theme="light"] {
    --text-color: #000000;
    /* --icon-color-red: #FF0000; */
    --icon-color-red: #00ffff;
    --border-color-blue: #95DBD1;
    --border-color-gray: #D9D9D9;
    --header-color: #eaae92;
    --background-color: #eae5cb;
    --image-tomato-button: url("../images/logo-light-tomato.svg");
    --active-button-control-clock: #3d89ff;
}

/* --- Modo claro/escuro botoes --- */
html[data-theme="light"] {

    img,
    #controlClock {
        filter: invert(1);
    }
}

/* html[data-theme="dark"] #controlClock {
    &:active {
        background-color: #3d89ff;
    }
    filter: invert(1);
} */

/* --- Elementos base --- */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

header,
div {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    text-align: center;
}

div {
    padding: 0.5rem 1rem;
}

header {
    padding: 0.0rem 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

/* --- Botoes --- */
.allButtons,
#toggleTheme,
#controlClock {
    background: none;
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    appearance: none;
    border: transparent;
    border-radius: 25px;
    background-position: top;
    background-size: cover;

    &:hover {
        cursor: pointer;
    }
}

.allButtons {
    width: 50px;
    height: 50px;

    &:active {
        background-color: #C27600;
    }
}

#toggleTheme {
    width: 77px;
    height: 77px;

    &:checked {
        background-image: url("../images/button-light-switch.svg");
    }

    &:not(:checked) {
        background-image: url("../images/button-dark-switch.svg");
    }
}

/* #perfil {
    background-image: url("../images/button-person-circle.svg");
} */

/* #setMusic {
    background-image: url("../images/button-music.svg");
} */

/* #buttonGame {
    background-image: url("../images/button-paw.svg");
} */

#setClock {
    background-image: var(--image-tomato-button);
}

#controlClock {
    &:checked {
        background-image: url("../images/button-x-circle.svg");
    }

    &:not(:checked) {
        background-image: url("../images/button-dark-play-circle.svg");

        &:not(:active) {
            background-color: var(--icon-color-red);
        }
    }

    &:active {
        background-color: var(--active-button-control-clock);
    }
}

.menu_clock {
    background-color: var(--header-color);
    gap: 2rem;
    /* coloque o menu no canto inferior */
}

@media(min-width: 760px) {
    .menu_clock {
        background-color: transparent;
        gap: 1rem;
    }

    h1 {
        font-size: 100px;
    }
}

/* --- Descrição final --- */
footer {
    text-align: center;
}

a {
    color: var(--text-color);

    &:hover {
        color: var(--icon-color-red);
        ;
    }
}